:root{
    --clr-black:rgba(50,50,50,255);
    --clr-sun:rgba(246,243,198,255);
    --gradient-bg:linear-gradient(
        180deg,
        rgba(241,80,150,1)0%,
        rgba(228,151,109,1)50%
    );
    --clr-white: rgba(254, 250, 239, 255);
	--clr-mountain1: rgb(45, 40, 53);
	--clr-mountain2: rgb(71, 55, 55);



}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    overflow: hidden;
}
.aere{
    position: absolute;
    height: 40px;
    width:50px;
    top:68vmin;
    right:34vmin;
    clip-path: polygon(50% 0%, 93% 39%, 68% 100%, 30% 99%, 8% 38%);
    background-color: darkslategrey;

}

.sky{
    height: 83vh;
    width:100%;
    background:var(--gradient-bg);
}
.front {
    
    display: flex;
    position: absolute;
    bottom: 0;
    height: 25vh;
    width:100%;
    z-index:999 ;
}
.left-slope,
.right-slope {
	flex: 1;
	height: 150%;
	background-color: var(--clr-black);
}

.left-slope {
	transform: skewY(7deg);
}

.right-slope {
	transform: skewY(-7deg);
}

.mountain1 > .left,
.mountain1 > .right {
    position: absolute;
    height: 29vmin;
    top: 45vmin;
    width:45vmin;
    background-color: var(--clr-mountain1);
}
.mountain1 > .left {

    transform-origin:left top;
    transform: rotate(33deg);

}
.mountain1 > .right {
	right: 0;
	transform-origin: right top;
	transform: rotate(-38deg);
   
}

.mountain2 > .left,
.mountain2 > .right {
    position: absolute;
    height: 10vmin;
    top: 38vmin;
    width:45vmin;
    background-color: var(--clr-mountain2);
}
.mountain2 > .left{
    
    transform-origin:left top;
    transform: rotate(41deg);

}
.mountain2 > .right {
	right: 0;
	transform-origin: right top;
	transform: rotate(-44.5deg);
}
.sun{
    height: 55vmin;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    right: 40%;
    background-color:var(--clr-sun);
    border-radius: 50%;
    transform: translate(-50%,-70%);
    box-shadow: 0 0 0 2.5vmin rgba(246, 243, 198, 0.1),
    0 0 0 5vmin rgba(246, 243, 198, 0.1);

}
.trees{
    position: absolute;
    width: 100%;

}
.tree{
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent var(--clr-black) transparent;


}
.tree-big{
    border-width: 0 8vmin 20vmin 8vmin;


}
.tree-small {
	border-width: 0 5vmin 15vmin 5vmin;
}
.tree-mid {
	border-width: 0 8vmin 16vmin 8vmin;
}
.tree:nth-child(1){
    left:1vmin;

}
.tree:nth-child(2){
    left:7vmin;
    
}
.tree:nth-child(3){
    left:30vmin;
    transform: translateY(5vmin);


    
}
.tree:nth-child(4){
    left:35vmin;
    transform: translateY(5vmin);


    
}
.tree:nth-child(5){
    left:47vmin;
    transform: translateY(5vmin) scaleX(0.8);


    
}
.tree:nth-child(6){
    left:70vmin;
    transform: translateY(8vmin) scaleX(0.8);
    
}
.tree:nth-child(7){
    left:80vmin;
    transform: translateY(10vmin) ;
    
}
.tree:nth-child(8){
    left:87vmin;
    transform: translateY(10vmin) scaleX(0.6);   
}
.tree:nth-child(9){
    left:110vmin;
    transform: translateY(10vmin) scaleX(0.8);  
}
.tree:nth-child(10){
    left:120vmin;
    transform: translateY(5vmin) scaleX(0.6);
}
.tree:nth-child(11) {
	left: 125vmin;
	transform: translateY(7vmin) scaleX(0.6);
}
.tree:nth-child(12) {
	left: 135vmin;
	transform: translateY(8vmin) scaleX(0.8);
}
.tree:nth-child(13) {
	left: 145vmin;
	transform: translateY(6vmin) scaleX(0.8);
}

.tree:nth-child(14) {
	left: 155vmin;
	transform: translateY(3vmin) scaleX(0.8);
}
.tree:nth-child(15) {
	left: 158vmin;
	transform: translateY(5vmin) scaleX(0.8);
}



.star{
    position: absolute;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color:transparent;


}
.star-small {
	height: 0.5vmin;
	box-shadow: 7vmin 6vmin 0 var(--clr-white), 23vmin 12vmin 0 var(--clr-white),
		20vmin 26vmin 0 var(--clr-white), 35vmin 4vmin 0 var(--clr-white),
		45vmin 16vmin 0 var(--clr-white), 54vmin 26vmin 0 var(--clr-white),
		70vmin 7vmin 0 var(--clr-white), 105vmin 2vmin 0 var(--clr-white),
		126vmin 11vmin 0 var(--clr-white), 146vmin 28vmin 0 var(--clr-white),
		185vmin 7vmin 0 var(--clr-white), 165vmin 5vmin 0 var(--clr-white),
		177vmin 26vmin 0 var(--clr-white), 153vmin 17vmin 0 var(--clr-white);
}

.star-big {
	height: 0.7vmin;
	box-shadow: 8vmin 20vmin 0 var(--clr-white), 34vmin 28vmin 0 var(--clr-white),
		62vmin 36vmin 0 var(--clr-white), 135vmin 37vmin 0 var(--clr-white),
		139vmin 7vmin 0 var(--clr-white), 165vmin 23vmin 0 var(--clr-white);
}

.bird{
    position: absolute;
    top:15vmin;
    left:24vmin;
    background-color: var(--clr-sun);
    height: 5vmin;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: inset  0 1vmin 0 -1px var(--clr-black);
    transform: rotate(-20deg) scale(0.7);
}
.bird::after {
    content: "";
	position: absolute;
	top: 0;
	left: 100%;
    background-color: var(--clr-sun);
	height: 7vmin;
	aspect-ratio: 1;
	border-radius: 50%;
	box-shadow: inset 0 1vmin 0 -1px var(--clr-black);

}
.bird:nth-child(1) {
	top: 15vmin;
	left: 35vmin;
	transform: rotate(10deg) scale(0.6);
}

.bird:nth-child(2) {
	top: 11vmin;
	left: 24vmin;
	transform: rotate(-10deg) scale(0.4);
}
.bird:nth-child(3) {
	top: 9vmin;
	left: 29vmin;
	transform: rotate(-10deg) scale(0.3);
}















